html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}
nav-menu{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    color: white;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}
li{
    float: left;
    margin-left: 250px;
    margin-right: 50px;
    color: white;
}
a{
    padding: 20px;
    width: 100px;
    display: inline;
    font-weight: bold; 
    color: white;
    font-size: 15pt;
    text-decoration: underline;
    margin-top: 50px;
}
#section1{
    height: 700px;
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 250px;
}
#section2{
    height: 700px;
    width: 100%;   
    float: left;
    color: white;
}
#section3{
    height: 700px;
    width: 100%;
    float: left;
    color: white;
}
#section4{
    height: 700px;
    float: left;
    width: 100%;
    color: white;
}
.h2{
    font-size: 40pt;
    font-style: oblique;
    color: white;
    text-align: center;
    margin-top: 100px;s
    margin-bottom: 75px;
}
img{
    float: left;
    margin-left: 150px;
}

.About{
   font-size: 40pt;
    font-style: oblique;
    color: white;
    text-align: center;   
    font-style: oblique;
}

.Single{
   float: left;
    font-style: normal;
    font-size: 18pt;
    width: 50%;
    color: white;  
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
}
.Multiple{
    float: right;
    font-style: normal;
    font-size: 18pt;
    color: white; 
    margin-left: 0;
    width: 50%;
    margin-right: 0;
    display: block;
}
.Equipment{
   font-size: 40pt;
    font-style: oblique;
    color: white;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    font-style: oblique; 
}
.E{
   float: left;
    font-style: normal;
    font-size: 18pt;
    color: white;  
    padding-left: 0;
    margin-left: 0;
}
.Contact{
    font-size: 40pt;
    font-style: oblique;
    color: white;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}
.E_Image{
    float: right;
    padding-right: 250px;
    padding-top: 0;
   
}
